<!-- <div class='container' style='margin-top:20px;'>
    <div class='row'>
<div class='col-md-1'><p>{{userDetails}}</p></div>
<div *ngFor='let name of names'>
    <div class='col-md-2'>{{name.name}}</div>
        </div>
<div class='col-md-5'><p> ({{ member }})</p></div>
</div>
    <div class='row'><div class="col-xs-2 col-md-2"><img class='img-responsive' alt='{{firstCardImage}}' src='{{firstCardImage}}' style='border-radius:10px;width:90%;height:90%'>
        </div>
        <div class="col-xs-2 col-md-2"><img class='img-responsive' alt="{{secondCardImage}}" src='{{secondCardImage}}' style='border-radius:10px;width:90%;height:90%'>
        </div>
    </div>
    </div> -->

    <div class='container' style='margin-top:20px;'>
        <span *ngFor='let name of names'><span class='col-md-2'>{{name.name}}</span>
    <!-- <div class='col-md-5'><p> ({{ member }})</p></div> -->
        <!-- <div class='row'><div class="col-xs-2 col-md-2"><img class='img-responsive' alt='{{firstCardImage}}' src='{{firstCardImage}}' style='border-radius:10px;width:90%;height:90%'>
            </div>
            <div class="col-xs-2 col-md-2"><img class='img-responsive' alt="{{secondCardImage}}" src='{{secondCardImage}}' style='border-radius:10px;width:90%;height:90%'>
            </div>
        </div> -->
        <!-- <div [ngSwitch]='numbers' *ngFor='let numbers of name.cards'>

        <img class='col-md-2 img-responsive' *ngSwitchCase="numbers==='0' || numbers==='1' || numbers=== '2'" alt='assets/images/Contessa.png' src='assets/images/Contessa.png' style='border-radius:10px;'>
        <img class='col-md-2 img-responsive' *ngSwitchCase="numbers==='3' || numbers==='4' || numbers=== '5'" alt='assets/images/Captain.png' src='assets/images/Captain.png' style='border-radius:10px;'>
        <img class='col-md-2 img-responsive' *ngSwitchCase="numbers=='6'|| numbers=='7'" alt='assets/images/Assassin.png' src='assets/images/Assassin.png' style='border-radius:10px;'>
        <img class='col-md-2 img-responsive' *ngSwitchCase="numbers==='9' || numbers==='10' || numbers=== '11'" alt='assets/images/Duke.png' src='assets/images/Duke.png' style='border-radius:10px;'>
        <img class='col-md-2 img-responsive' *ngSwitchCase="numbers==='12' || numbers==='13' || numbers=== '14'" alt='assets/images/Ambassador.png' src='assets/images/Ambassador.png' style='border-radius:10px;'>
    </div> -->
        <img class='col-md-2 img-responsive' *ngFor='let imageUrl of name.image' alt='{{imageUrl}}' src='{{imageUrl}}' style='border-radius:38px;'>
</span>
    </div>
